doctype html
html(lang="en")
  head
    title Tic-Tac-Toe
    link(href="styles/main.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="scripts/main.js")
    
  body
    .container
      h1 Tic-Tac-Toe
      p X plays first
      .board
        .row
          .square(id="1")
          .square(id="2")
          .square(id="3")
        .row
          .square(id="4")
          .square(id="5")
          .square(id="6")
        .row
          .square(id="7")
          .square(id="8")
          .square(id="9")
      h2

                  
            
